:root {
  --primary-blue: #235a86;
  --primary-blue-alpha: #69829669;
  --primary-blue-light: #15354e69;
  --primary-brown: #7d6752;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  min-height: 100vh;
   background: rgb(250,250,250);
   background-image: linear-gradient(145deg, rgba(250,250,250,1) 23%, rgba(226,199,172,1) 77%);
}



a {
  color: inherit;
  text-decoration: none;
}


