/* font-family: 'Poppins', sans-serif; */
/* font-family: 'DM Sans', sans-serif; */
/* font-family: 'Lora', serif; */
/* font-family: 'Signika Negative', sans-serif; */


.header {
  width: 100%;
  height: 170px;
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.imgContainer {
  width: 100px;
  height: 100px;
  background-image: url(/assets/olplogo.svg);
}

.title {
  color: var(--primary-blue);
  font-family: 'DM Sans', sans-serif;  
  font-weight: 900;
  font-size: 50px;

}

.container {
  width: 100%;
  display: flex;
  padding: 0px 100px;
  align-items: center;
  justify-content: space-between;


}


.infoContainer {

  width: 450px;
  height: 300px;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  
}

.subTitle {
  color: var(--primary-brown);
  font-family: 'Lora', serif;
  font-weight: 600;
  font-size: 35px;
}


.getStartedBtn {
  width: 180px;
  height: 40px;
  background-color: white;
  border: none;
  border-radius: 25px;
  color: var(--primary-blue);
  font-family: 'Signika Negative', sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 1px 1px 6px 0px  rgba(0, 0, 0, 0.342);
  cursor: pointer;
}

.bannerContainer {
  width: 550px;
  height: 400px;
}

.bannerImg {
  width: 100%;
}







/* Mobile */
@media (max-width: 700px) {
  
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  
}

