.logoContainer {
      width: 200px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
}

.title {
      color: var(--primary-blue);
      font-family: 'Poppins', sans-serif; 
      font-weight: 800;
      letter-spacing: 2px;
}