.bodyContainer {
      display: flex;
      width: 100%;
      height: calc(100% - 80px);
}

.mainContent {
      padding: 20px 50px;
}
.coursesListContainer {
      width: 100%;
      height: calc(100% - 40px);
      display: flex;
      gap: 50px;
      flex-wrap: wrap;
}

.fullMainContainer {
      width: 100%;
}

.buttonLrg {
      width: 150px;
      height: 40px;
      background-color: var(--primary-blue);
      border: none;
      border-radius: 8px;
      color: white;
      font-size: 22px;
      letter-spacing: 2px;
      font-family: 'Signika Negative', sans-serif;     
      font-weight: 700;
      cursor: pointer;
      position: absolute;
      bottom: 30px;
}